/* Your site must support distinct layouts for large and small screens using media queries. Use comments to note where you completed this requirement.
You may do this in a variety of ways. For example, you can move images or switch blocks between rows (for large screens) and columns (for small). */
div {
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    margin: 0;
    font-family: sans-serif;
}

body {
  display: grid;
  grid-template-columns: auto auto;
}

/* .navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--darkest);
    background-color: var(--color1);
    padding: 0;
    width: 100vw;
} */


header {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
}

#add-form-div {
    display: flex;
    justify-content: center;
    padding: 20px;
    /* border: 1px solid #ccc;
    border-radius: 10px; */
    background-color: var(--color5);
    grid-row: 2 / span 2;
}

#dropbox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    min-width: 10rem;
    padding: 4rem;
    border: 0.5rem dashed var(--darkest);
    grid-column: 2 /span 1;
    grid-row: 2 / span 2;
  }

  #preview {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    border: 1rem solid var(--darkest);
    min-height: 10rem;
    
    grid-column: 1 / span 2;
  }
  
  .obj img {
    max-width: 10rem;
    max-height: 10rem;
    object-fit: contain;
  }
  
  .obj {
    border: 1px dotted black;
  }

  #output {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
  }
